*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: var(--text);
    font-size: var(--text-size);
    font-weight: 300;
}

:root{
    --p-color: #0D0D0D;
    --s-color: #FFFAFA;
    --n1-color:#FFD700;
    --n2-color: #66CDAA;
    --n3-color: #32CD32;

    --text-color: black;
    --shadow: black;

    --text-size: 1.7vh;
    --header-size: 2.5vh;

    --text: 'Roboto', sans-serif;
}

body{
    width: 100%;
    height: 100dvh;
    background: var(--n1-color);
    .loader{
        transition: .2s ease-in-out;
        display: flex;
        flex-direction: column;
        gap: 1vh;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100dvh;
        background: var(--n1-color);
        .hypnotic {
            width: 6vh;
            height: 6vh;
            border-radius: 100%;
            border: .3vh solid var(--p-color);
            background: conic-gradient(from -90deg at calc(100% - .1vh) calc(100% - .1vh),#0000 0 90deg, var(--p-color) 0),
                   conic-gradient(from -90deg at calc(100% - .1vh) calc(100% - .1vh),#0000 0 90deg, var(--p-color) 0);
            background-size: 2vh 2vh;
            background-position: 0 0;
            animation: hypnotic-p6wowimd 5s infinite;
            @keyframes hypnotic-p6wowimd {
                0%{
                    background-position: 0 0;
                }
                50% {
                   background-position: -5vh -5vh,5vh 5vh;
                }
                100%{
                    background-position: 0 0;
                }
             }
         }
         .text{
            font-size: var(--text-size);
         }
    }
    .everything{
        transition: .2s ease-in-out;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: var(--s-color);
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        .nav-bar{
            width: 100%;
            z-index: 0;
            padding: 2vh;
            flex-wrap: wrap;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .array-generator{
                padding: 1vh;
                cursor: pointer;
                background: var(--n1-color);
                text-transform: uppercase;
                font-weight: 900;
                font-size: var(--text-size);
                box-shadow: .5vh .5vh var(--shadow);
            }
            .array-sorting-controller{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1vh;   
                .array-size-controller,.array-speed-controller{
                    padding: 1vh;
                    font-size: var(--text-size);
                    font-weight: 900;
                    background: var(--n1-color);
                    border: .3vh solid transparent;
                    outline: none;
                    box-shadow: .5vh .5vh var(--shadow);
                }
            }
            .sorting-algo-options{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1vh;
                .sorting-algo{
                    cursor: pointer;
                    padding: 1vh;
                    font-size: var(--text-size);
                    background: var(--s-color);
                    font-weight: 300;
                    &:first-child{
                        background: var(--n1-color);
                        box-shadow: .5vh .5vh var(--shadow);
                        font-weight: 900;
                    }
                }
            }
            .sorter{
                cursor: pointer;
                font-size: var(--text-size);
                padding: 1vh;
                font-weight: 900 !important;
                text-transform: uppercase;
                background: var(--n1-color);
                box-shadow: .5vh .5vh var(--shadow);
            }
        }
        //Start of Visualizer
        .visualizer{
            width: 100%;
            height: 100%;
            z-index: 2;
            display: flex;
            padding: 1vh;
            flex-wrap: wrap;
            gap: 1vh;
            align-items: center;
            justify-content: center;
            .number{
                padding: 1vh;
                font-size: var(--text-size);
                border: .3vh solid var(--p-color);
                font-weight: 900;
            }
            .unsorted{
                background: var(--s-color);
                color: var(--p-color);
            }
            .sorting-1{
                background: var(--n1-color);
                color: var(--p-color);
            }  
            .sorting-2{
                background: var(--n2-color);
                color: var(--p-color);
            }
            .sorted{
                background: var(--n3-color);
                color: var(--s-color);
            }
        }
        //End of Visualizer
        //Start of blocker
        .blocker{
            display: none;
            position: fixed;
            z-index: 1;
            pointer-events: all;
            width: 100%;
            height: 100dvh;
            background: rgba(0,0,0,0.5);
        }
        //End of blocker
    }
}

@media (max-width: 980px) {
    .everything{
        align-items: center !important;
        justify-content: center !important;
    }
    .nav-bar{
        z-index: 0 !important;
        position: fixed;
        width: 100% !important;
        height: 100% !important;
        flex-direction: column !important;
        gap: 2vh !important;
        .array-generator{
            position: absolute;
            top: 2vh;
            left: 1vh;
        }
        .array-sorting-controller{
            position: absolute;
            top: 2vh;
            right: 1vh;
        }
        .sorting-algo-options{
            position: absolute;
            top: 10vh;
            left: 1vh;
        }
        .sorter{
            position: absolute;
            width: 90% !important;
            text-align: center !important;
            bottom: 2vh;
        }
    }
    .visualizer{
        z-index: 2 !important;
        height: max-content !important;
        pointer-events: none !important;
    }
    .blocker{
        z-index: 1 !important;
    }
}